SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
AI_SERVICE_BASE_URL=
ELASTICSEARCH_BASE_URL=
SEARCH_ENABLED=false
GRAPH_ENABLED=false
